@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*-------------
body {
 background-color:#000000;  
 padding: 0;
}
*/
/*  sets the body sizes and background-color            */
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #303030;
}


/*  This is my first container          */
.my-container {
    background-color: #808080;
    padding-top: 50px;
}
/*  first column*/
.my-col {
    font-family: monospace, sans-serif;
    font: bold;
    color: #805100;
    margin-right: 100px;
    margin-left: 30px;

}
/* first row */
.my-row {
    background-color: #383838;
}
/* customized container  */
.my-fluid {
    background-color: #262626;
}

.first-fluid {
    background-color: #FDE281;
}
/* logo*/
.logo {
    height: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    animation-timing-function: linear;
}
/*   Nav-links hover background-color              */
.a:link {
    color: orange;
    background-color: #ffb833;



}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}
/*  Navbars */
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 18px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
    color: #dbbdbd!important;
}
/*  navbar hover          */
.navbar-nav li a:hover {
    color: #fff !important;
}
/*   active navbar             */
.navbar-nav .active a {
    color: #fff !important;
    background-color: #29292c !important;
}
/* navbar toggler background color */
.navbar-default .navbar-toggle {
    border-color: #595959;
}


/* This contains my first media row */
.media-row {
    padding-top: 50px;
    padding: 0;
    padding-left: 5px;
}
/* Second-container*/
.second-container {
    background-color: #808080;
    margin-right: 0px;
}
/*  Opaque-overlay */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Headings and text centerd */
.h1 {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;

}

.text-center {
    margin-right: 50px;
    margin-left: 50px;
}
/*  Card hover effects */
.card img:hover {
    opacity: .8;
    transition: .5s;
    width: 25em;
    background-color: #202020;

}
/* Card body */
.card-body {
    margin: 0;
    padding: 0;
    font: bold;
    color: #ffffff;
    background-color: #202020;
}
/* Card container */
.card-container {
    background: #202020;
}

.card-img-top {
    padding-left: 10px;
    background-color: #202020;
}
.media-col {
    margin-left: -130px;

}

.h3 {
    font-family: 'Macondo Swash Caps', cursive;
}

.media-row {
    padding: 0;
}

/* Footer */
footer {
    font-family: 'Macondo Swash Caps';
    font: bold;
    color: #ffffff;
    background-color: #282828;
}

.footer-ab {
    background-color: #000000;
}
/*Events */
.events-container {
    font-family: sans-serif;
    color: #ffffff;
    background-color: #383838;
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.es {
    background-color: #101010;
}
/* Container-fluid-wrapper               */
.container-fluid-wrapper {
    font-family: monospace;
    color: #ffffff;
    background-color: #686868;
}
/*                 */
.about-us {
    padding-top: 3rem;
    font: bold;
    color: #ffffff;
    background: #404040;
}
/*                 */
.about-us {
    padding-top: 3rem;
    font: bold;
    color: #ffffff;
    background: #404040;
}
/*                 */
.team-heading {
    padding-top: 10px;
    font-family: monospace;
    font: bold;
}
/*                 */
.article-header {
    font-family: fantasy;
    margin-top: 20px;
}
/*                 */
.personal-info {
    font-family: 'Anton', sans-serif;
    background-color: #282828;
    margin-right: 0px;
    margin-left: 0px;

}
/*                 */
.band-info {
    font-family: 'Ramabhadra', sans-serif;
}
/*                 */
.no-gutters {
    margin-right: 0px;
    margin-left: -0px;
    padding-right: 0px;
    padding-left: 0;
}
/*                 */
.name {
    color: #ffffff;
}
/*                 */
.band-heading {
    font-family: monospace;
    padding-top: 30px;
}
/*                 */
.band-info {
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 10px;
    margin-left: 120px;
}
/*                 */
.media-container {
    background-color: #303030;
    padding-top: 30px;
}
/*                 */
.home-media {
    background-color: #303030;
    padding-top: 30px;
}


/*                 */
.media-row {
    background-color: #202020;
}
/*                 */
.l-a {
    padding: 0;
    background-color: #303030;

}
/*                 */
.photo-heading {
    font-family: fantasy;

}
/*                 */
.social a {
    font-size: 4.5em;
    padding: 3rem;

}
/*                 */
.fa-facebook {
    color: #3b5998;
}
/*                 */
.fa-instagram {
    color: #517fa4;
}
/*                 */
.fa-twitter {
    color: #00aced;
}
/*                 */
.fa-youtube {
    color: #bb0000;
}
/*                 */
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}
/*                 */
.spotify-section {
    padding:0;
}
/*                 */
.music-container {
    background-color: #282828;
    text-align: center;


}
/*                 */
.music-heading {
    font-family: fantasy;
    color: #ffffff;
    text-align: center;
}
/*                 */
.video-container {
    background-color: #181818;
    text-align: center;
}
/*                 */
.video-heading {
    font-family: monospace;
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
}
/*                 */
.social-media {
    padding-top: 30px;
    font: Bold;
    color: #ffffff;
    background-color: #000000;
}


/*                 */
@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 250%;
        text-shadow: 1px 1px 15px #000;
    }

    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: .7em;
    }
}
/*                 */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
/*                 */
.card img:hover {
    opacity: .8;
    transition: .5s;
    width: 25em;
    background-color: #202020;

}
/*                 */
.column img:hover {
    opacity: .9;
    transition: .7s;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.m-row {
    background-color: #202020;
}

modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header, .modal-body {
  padding: 40px 50px;
}
